# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# Database
db.sqlite3

# VS Code
.vscode/

# Node modules
frontend/node_modules/

# Build files
frontend/build/

# Static files
staticfiles/